<html>

<head>
    <%- include('../partials/head.ejs') %>
        <title>Cart - The Basic Company</title>
        <style>
            .overlay {
                background: linear-gradient(135deg, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5))
            }
        </style>
</head>

<body>
    <div class="container mx-auto">
        <%- include('../partials/navbar.ejs') %>

            <div class="flex justify-center sm:flex-row flex-col mt-6 px-2 sm:px-0">
                <div class="sm:w-3/4 sm:px-8 pb-6 sm:pb-0">
                    <div class="flex items-center justify-between">
                        <h1 class="font-extrabold text-xl">Shopping Cart</h1>
                        <p class="text-lg font-semibold"><span id="cart_count">
                                <%= totalQty %>
                            </span> Items</p>
                    </div>

                    <hr class="w-10/12 text-gray-400 text-bold my-4 block mx-auto">
                    <% console.log(session.cart) %>
                        <% cart.length && cart.map((cartProduct)=> { %>
                            <% cartProduct.variants.map((product)=> { %>
                                <div class="flex items-center justify-between mt-6">
                                    <div class="h-20">
                                        <img class="h-full" src="/images/model.jpg" alt="product">
                                    </div>

                                    <div class="px-4">
                                        <h1 class="capitalize sm:text-base text-sm mb-2 sm:mb-0">
                                            <%= cartProduct.product.title %>
                                        </h1>
                                        <div class="flex">
                                            <div class="w-6 h-6 rounded-md cart_color_badge"
                                                data-color="<%= product.color %>"></div>
                                            <div class="w-6 h-6 rounded-md cart_size_badge ml-4 flex-center text-sm">
                                                <%= product.size %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex-center">
                                        <button
                                            class="sm:w-8 sm:h-8 h-6 w-6 flex-center bg-black focus:bg-orange-500 text-white font-bold sm:text-xl text-lg cursor-pointer rounded-md">-</button>
                                        <input disabled class="sm:w-8 sm:h-8 h-6 w-6 text-center bg-gray-50" type="text"
                                            value="<%= product.qty %>">
                                        <button
                                            class="sm:w-8 sm:h-8 h-6 w-6 flex-center bg-black focus:bg-orange-500 text-white font-bold text-xl cursor-pointer rounded-md">+</button>
                                    </div>

                                    <div class="text-orange-500 font-bold">&#8377;<%= cartProduct.product.price%>
                                    </div>
                                    <span data-_id="<%= cartProduct.product._id %>" data-color="<%= product.color %>"
                                        data-size="<%= product.size %>" data-qty="<%= product.qty %>"
                                        class="remove_product_btn cursor-pointer text-gray-500 hover:text-red-500">&times;</span>
                                </div>
                                <% }) }) %>

                </div>

                <% if (cart.length) { %>
                    <div class="sm:w-1/4 sm:px-8 px-4 bg-gray-50 sm:min-h-screen pb-8 sm:pb-0">
                        <h1 class="font-bold my-4 text-xl">Order Summary</h1>
                        <hr class="w-10/12 text-gray-400 text-bold my-4 block mx-auto">

                        <p class="font-bold uppercase text-sm">shipping</p>
                        <select name="shipping" id="shipping" class="w-full h-10 mt-4">
                            <option value="standard">Standard Shipping - <span>&#8377;</span>30</option>
                            <option value="express">Express Shipping - <span>&#8377;</span>100</option>
                        </select>

                        <p class="font-bold uppercase text-sm mt-8">promo code</p>
                        <input type="text"
                            class="w-full h-10 mt-4 focus:border-b-2 focus:border-b-solid focus:border-b-orange-500">
                        <button class="bg-black text-white font-bold w-24 h-10 hover:bg-orange-500 mt-4">APPLY</button>

                        <hr class="w-10/12 text-gray-400 text-bold my-4 block mx-auto">

                        <div class="flex items-center justify-between">
                            <p class="font-bold text-sm">TOTAL PRICE</p>

                            <span class="font-bold text-sm">&#8377;
                                <% if (totalPrice) { %>
                                    <span id="total">
                                        <%= totalPrice %>
                                    </span>
                                    <% } else { %>
                                        <span id="total">0</span>
                                        <% } %>
                            </span>
                            <input type="hidden" name="totalPrice" id="total_price_hidden"
                                value="<%= totalPrice ? totalPrice : 0 %>">
                        </div>
                        <div class="flex items-center justify-between">
                            <p class="text-sm">Discount</p>
                            <span id="total" class="font-bold text-sm">&#8377;0</span>
                        </div>
                        <div class="flex items-center justify-between">
                            <p class="text-sm">Shipping</p>
                            <span id="total_shipping" class="font-bold text-sm">&#8377;30</span>
                        </div>
                        <div class="flex items-center justify-between mt-6">
                            <p class="font-bold">Billed Amount</p>
                            <span id="total" class="font-bold text-sm">&#8377;<span id="billed_amt"></span></span>
                        </div>
                        <button
                            class="bg-orange-500 proceed_to_checkout w-full mt-4 text-white h-10 hover:bg-orange-600 font-bold">
                            CHECKOUT
                        </button>
                    </div>
                    <% } else { %>
                        <div></div>
                        <% } %>
            </div>
    </div>

    <script src="/js/app.js"></script>
    <script>

        const standardShipping = 30
        const totalPrice = document.getElementById('total_price_hidden')
        const billedAmount = document.getElementById('billed_amt')
        let totalBilledAmount = parseInt(totalPrice.value) + standardShipping
        billedAmount.innerText = totalBilledAmount

        const shippingSelectBox = document.getElementById('shipping')
        shippingSelectBox.addEventListener('change', (e) => {
            const shippingOption = e.target.value
            const totalShipping = document.getElementById('total_shipping')

            const standardShipping = 30
            const expressShipping = 100
            const totalPrice = document.getElementById('total_price_hidden')
            const billedAmount = document.getElementById('billed_amt')
            let totalBilledAmount = parseInt(totalPrice.value) + standardShipping

            if (shippingOption === 'express') {
                totalShipping.innerText = expressShipping
                totalBilledAmount = parseInt(totalPrice.value) + expressShipping
            }

            billedAmount.innerText = totalBilledAmount
        })

        const removeProductButton = document.querySelector('.remove_product_btn')
        removeProductButton.addEventListener('click', sendProductDeleteRequest)

        async function sendProductDeleteRequest() {

            const confirmation = confirm('Are You Sure You Want to Delete This Product?')

            if (!confirmation) { return }

            const size = this.dataset.size
            const color = this.dataset.color
            const _id = this.dataset._id
            const qty = this.dataset.qty

            try {
                const { data } = await axios.post('/cart/remove', { _id, color, size, qty })
                window.location.reload()

            } catch (error) {
                console.log(error.response.data);
            }
        }

        const proceedToCheckoutBtn = document.querySelector('button.proceed_to_checkout')
        proceedToCheckoutBtn.addEventListener('click', () => window.location.href = '/checkout')

    </script>
</body>

</html>