<html>

<head>
    <title>Orders - The Basic Co.</title>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <div class="container mx-auto">
        <%- include('../partials/navbar.ejs') %>
            <% if (err.length) {%>
                <div class="sm:w-9/12 w-10/12 block mx-auto bg-red-100 text-red-600 text-center my-4 p-2 rounded-full font-semibold">
                    <%= err %>
                </div>
                <% } else if (success.length) {%>
                    <div
                        class="sm:w-9/12 w-10/12 block mx-auto bg-green-100 text-green-600 text-center my-4 p-2 rounded-full font-semibold">
                        <%= success %>
                    </div>
                    <% } %>
                        <% if (orders.length) { %>
                            <h1 class="font-extrabold text-xl mt-6 sm:mx-0 mx-2 pb-4 sm:pb-0">Your Orders</h1>
                            <div class="w-full py-6 sm:px-4 px-2 bg-gray-50">
                                <% orders.map((order)=> { %>
                                    <div class="w-full bg-white p-4 rounded-md mb-4">
                                        <span class="font-bold uppercase text-gray-600">
                                            <%= order.orderId %>
                                        </span>
                                        <div class="py-4">
                                            <div class="flex text-sm">
                                                <span class="">Total Amount: &nbsp;</span>
                                                <span class="font-semibold">&#8377;<%= order.totalPrice %></span>
                                            </div>
                                            <div class="flex text-sm">
                                                <span class="">Mode of Payment: &nbsp;</span>
                                                <span class="font-semibold">
                                                    <%= order.payment.method %>
                                                </span>
                                            </div>
                                            <div class="flex text-sm mt-2">
                                                <img src="/images/clock.png" alt="" class="w-4 h-4 mr-2">
                                                <span class="font-semibold text-orange-500">
                                                    <%= moment(order.createdAt).format('MMMM Do YYYY, h:mm a') %>
                                                </span>
                                            </div>
                                        </div>
                                        <h2 class="font-bold mt-2">ITEMS:</h2>

                                        <div>
                                            <% order.products.map((product)=> { product.variants.map((variant) => { %>
                                                <div class="flex items-center mt-4">
                                                    <img src="/images/model.jpg" class="h-20" alt="product image">
                                                    <div class="ml-4">
                                                        <span class="uppercase">
                                                            <%= product._id.title %>
                                                        </span>
                                                        <div class="flex items-center">
                                                            <div class="cart_color_badge mt-2 w-6 h-6 rounded-md"
                                                                data-color="<%= variant.color%>">
                                                            </div>
                                                            <div
                                                                class="mt-2 w-6 h-6 rounded-md text-sm flex-center uppercase bg-gray-100 ml-4">
                                                                <%= variant.size %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% })}) %>
                                        </div>
                                        <div class="flex items-center justify-between mt-6">
                                            <a class="sm:w-48 w-40 text-sm sm:text-base h-10 flex-center bg-orange-500 text-white font-bold hover:bg-orange-600"
                                                href="/order/status/<%= order._id %>">TRACK STATUS</a>
                                            <a class="sm:w-48 text-xs sm:text-base h-10 flex-center text-gray-600 hover:text-red-500"
                                                href="/order/cancel/<%= order._id %>">cancel order</a>
                                        </div>
                                    </div>
                            </div>
                            <% })} else { %>
                                    <div class="w-full text-center">
                                        <h1 class="font-extrabold text-lg text-gray-400 uppercase mt-10">no active orders found</h1>
                                    </div>
                                <% } %>
    </div>
    <script src="/js/order.js"></script>
</body>

</html>