<html>

<head>
    <%- include('../partials/head.ejs') %>
        <title>Payment - The Basic Company</title>
</head>

<body>
    <div class="container mx-auto">
        <%- include('../partials/navbar.ejs') %>
            <div class="w-full h-20 flex items-center justify-center sm:my-8 my-6">
                <div class="sm:w-14 sm:h-14 w-12 h-12 step_badge active rounded-full flex-center font-bold text-lg">
                    <img class="sm:h-10 h-6" alt="address" src="https://img.icons8.com/ios/50/EBEBEB/marker--v1.png" />
                </div>
                <div
                    class="sm:w-14 sm:h-14 w-12 h-12 active step_badge steps sm:mx-64 mx-20 rounded-full flex-center font-bold text-lg">
                    <img class="sm:h-10 h-6" alt="payment"
                        src="https://img.icons8.com/ios/50/EBEBEB/card-security.png" />
                </div>
                <div class="sm:w-14 sm:h-14 w-12 h-12 step_badge steps rounded-full flex-center font-bold text-lg">
                    <img class="sm:h-10 h-6" alt="placed"
                        src="https://img.icons8.com/ios/50/EBEBEB/checkmark--v1.png" />
                </div>
            </div>

            <div id="online_payments_form_container" class="hidden"></div>

            <div id="cod_order_placement_overlay"
                class="w-full fixed inset-0 overlay flex-center cod_order_placement_overlay">
                <div class="bg-white sm:w-96 w-80 sm:h-96 h-80 rounded-xl">
                    <h1 class="font-extrabold text-center my-8 uppercase">Order Summary</h1>
                    <form action="/order" method="post" id="cod_order_placement_form">
                        <div class="flex items-center justify-between px-4 mt-16">
                            <span class="font-bold">Total Amount: </span>
                            <span>&#8377; 699</span>
                            <input type="hidden" name="address" id="address_hidden">
                        </div>
                        <div class="flex items-center justify-between px-4 my-2">
                            <span class="font-bold">Mode of Payment: </span>
                            <span class="sm:text-base text-sm">Cash on Delivery</span>
                            <input type="hidden" name="paymentMethod" id="payment_method_hidden" value="COD">
                        </div>
                        <div class="flex-center px-4 mt-16">
                            <button id="order_submit_btn"
                                class="bg-purple-500 text-white flex-1 rounded-full mr-4 py-2 font-bold"
                                type="submit">Place
                                Order</button>
                            <div onclick="closeOrder()" id="order_cancel_btn"
                                class="border-solid border-2 cursor-pointer flex-center border-red-500 text-red-500 rounded-full flex-1 py-2 font-bold">
                                Cancel</div>
                        </div>
                    </form>
                </div>
            </div>

            <h1 class="font-extrabold text-xl ml-2 sm:ml-0">Select a Mode of Payment</h1>
            <p class="text-gray-500 text-sm mt-2 ml-2 sm:ml-0">Select the method you want to pay through</p>
            <div class="flex sm:flex-row flex-col w-full">
                <div class="mx-2 w-3/4">
                    <div class="flex items-center py-2 w-full mt-4">
                        <img alt="mastercard" class="h-8 mr-2"
                            src="https://img.icons8.com/color/48/000000/mastercard-logo.png" />
                        <img alt="visa" class="h-8 mr-2" src="https://img.icons8.com/color/48/000000/visa.png" />
                        <img alt="paytm" class="h-8 mr-2" src="https://img.icons8.com/color/48/000000/paytm.png" />
                        <img alt="google pay" class="h-8 mr-2"
                            src="https://img.icons8.com/color/48/000000/google-pay-india.png" />
                        <img alt="upi" class="h-8 mr-2" src="https://img.icons8.com/fluency/48/000000/bhim.png" />
                    </div>
                    <div class="mt-8 mb-12 sm:mb-0">
                        <button onclick="showOverlay()" id="cod_option_btn" class="flex items-center cursor-pointer">
                            <div class="w-16 h-16 mr-4 rounded-lg shadow-xl flex-center bg-orange-100">
                                <img class="w-10 h-10" alt="COD"
                                    src="https://img.icons8.com/external-icongeek26-outline-icongeek26/64/000000/external-cash-currency-icongeek26-outline-icongeek26-2.png" />
                            </div>
                            <span class="font-semibold">Cash On Delivery</span>
                        </button>

                        <button id="rzp-button1" class="flex items-center mt-4">
                            <div class="w-16 h-16 mr-4 rounded-lg shadow-xl flex-center bg-orange-100">
                                <img class="h-10 w-10"
                                    src="https://img.icons8.com/external-others-iconmarket/64/000000/external-pay-hand-gestures-others-iconmarket-2.png" />
                            </div>
                            <span class="font-semibold">Pay Now</span>
                        </button>
                    </div>
                </div>
                <div class="sm:mx-2 w-full">
                    <div style="border: 1px solid #ececec;" class="w-80 rounded-lg py-2 sm:px-8 flex-center">
                        <div class="sm:w-24 px-4 sm:px-0">
                            <img class="h-8" src="https://img.icons8.com/ios/50/000000/user--v1.png" alt="user">
                        </div>
                        <div class="flex-1">
                            <span class="text-sm text-green-500">LOGIN &check;</span>
                            <span class="font-bold block uppercase">
                                <%= user.name %>
                            </span>
                        </div>
                    </div>
                    <div style="border: 1px solid #ececec;"
                        class="mt-4 w-11/12 sm:w-max rounded-lg py-2 sm:px-8 flex-center">
                        <div class="sm:w-24 px-4 sm:px-0">
                            <img class="h-8" src="https://img.icons8.com/dotty/80/000000/order-delivered.png"
                                alt="address">
                        </div>
                        <div class="flex-1">
                            <span class="text-sm">SHIPPING ADDRESS</span>
                            <span class="font-bold block uppercase text-sm sm:text-base mt-4 sm:mt-0"
                                id="shipping_address_local"></span>
                        </div>
                    </div>
                    <div style="border: 1px solid #ececec;"
                        class="mt-4 rounded-lg py-2 sm:px-8 px-4 w-11/12 flex-center">
                        <div class="sm:w-24 mr-4 sm:mr-0">
                            <img class="h-8" src="https://img.icons8.com/wired/64/000000/shopping-cart--v1.png"
                                alt="user">
                        </div>
                        <div class="flex-1 mb-8">
                            <span class="text-sm">CART DETAILS</span>
                            <div class="w-full">
                                <div class="flex items-center justify-between text-sm mt-2">
                                    <span>Cart Total</span>
                                    <span class="font-semibold">&#8377; <%= session.cart.totalPrice %></span>
                                </div>
                                <div class="text-sm flex items-center justify-between">
                                    <span>Shipping</span>
                                    <span class="font-semibold">&#8377; <%= session.cart.shipping.cost %></span>
                                </div>
                                <div class="text-sm flex items-center justify-between">
                                    <span>Discount</span>
                                    <span class="font-semibold">&#8377; 0</span>
                                </div>
                                <div class="flex items-center justify-between mt-2 sm:mt-0">
                                    <span class="font-bold">Total Amount</span>
                                    <span class="font-bold">&#8377; <%= session.cart.totalPrice +
                                            session.cart.shipping.cost %> </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="bg-black text-white text-center py-2 text-sm mt-8">
                The Basic Co.&copy; || Payments Powered by Razorpay
            </footer>
            <input id="hidden_rp_key" type="hidden" name="key" value="<%= process.env.RAZORPAY_KEY_ID %>">
            <input id="hidden_rp_amount" type="hidden" name="amount" value="<%= amount * 100 %>">
            <input id="hidden_rp_orderId" type="hidden" name="amount" value="<%= orderId %>">
            <input id="hidden_rp_user" type="hidden" name="amount" value="<%= JSON.stringify(user) %>">
    </div>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/js/order.js"></script>
    <script>
        const submitOrderBtn = document.querySelector('button[type="submit"]#order_submit_btn')
        submitOrderBtn.onclick = placeOrder
        function placeOrder(e) {
            e.preventDefault()

            const address = window.localStorage.getItem('address')
            const { addressObj } = JSON.parse(address)

            const addressInput = document.getElementById('address_hidden')
            const paymentForm = document.getElementById('cod_order_placement_form')

            addressInput.value = addressObj

            paymentForm.submit()
        }

        function closeOrder(e) {
            const codOrderOverlay = document.getElementById('cod_order_placement_overlay')
            codOrderOverlay.classList.remove('open')
        }

        const shippingAddressLocal = document.getElementById('shipping_address_local')

        const address__local = window.localStorage.getItem('address') || ""
        shippingAddressLocal.innerText = JSON.parse(address__local).address

        let user = document.getElementById('hidden_rp_user').value
        user = JSON.parse(user)

        const options = {
            "key": document.getElementById('hidden_rp_key').value, // Enter the Key ID generated from the Dashboard
            "amount": document.getElementById('hidden_rp_amount').value, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "The Basic Company",
            "description": "Pay securely with Razorpay",
            "image": "https://example.com/your_logo",
            "order_id": document.getElementById('hidden_rp_orderId').value, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                const { razorpay_payment_id, razorpay_order_id, razorpay_signature } = response
                const paymentCredForm = document.createElement('form')
                paymentCredForm.action = '/order'
                paymentCredForm.method = 'POST'
                paymentCredForm.classList.add('hidden')

                function createInput(name, value) {
                    const input = document.createElement('input')
                    input.name = name
                    input.value = value
                    input.type = 'hidden'
                    paymentCredForm.appendChild(input)
                }
                const address = window.localStorage.getItem('address')
                const { addressObj } = JSON.parse(address)

                createInput('razorpay_payment_id', razorpay_payment_id)
                createInput('razorpay_order_id', razorpay_order_id)
                createInput('razorpay_signature', razorpay_signature)
                createInput('address', addressObj)
                createInput('paymentMethod', 'razorpay')

                document.getElementById('online_payments_form_container').appendChild(paymentCredForm)
                paymentCredForm.submit()
            },
            "prefill": {
                "name": user.name,
                "email": user.email,
                "contact": user.tel
            },
            "notes": {
                "Contact Number": "+91-1234567890"
            },
            "theme": {
                "color": "#ffa500"
            }
        };
        const rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response) {
            alert(response.error.description);
        });
        document.getElementById('rzp-button1').onclick = function (e) {
            rzp1.open();
            e.preventDefault();
        }
    </script>
</body>

</html>