<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Products - The Basic Co.</title>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
        <div class="container mx-auto flex flex-col sm:flex-row">
            <div class="flex-center flex-col sm:mb-4 sm:min-h-screen sm:w-96 sm:mr-4">

                <div class="w-64 h-12 rounded-lg fixed shadow-xl bg-white flex-center success_badge">
                    <i class="fa-solid fa-circle-check text-green-500"></i>
                    <p class="font-bold text-lg text-green-500">ADDED TO CART!</p>
                </div>

                <div class="flex-center flex-col w-full mx-auto my-4">
                    <img class="sm:my-4 main_image sm:h-10/12 h-96" src="/images/model.jpg" alt="product">
                    <div class="w-9/12 h-16 mt-4 flex-center overflow-x-scroll slide-wrapper">
                        <img class="max-h-16 mx-2 slide-img" src="/images/model.jpg" alt="product image">
                        <img class="max-h-16 mx-2 slide-img" src="/images/gift.png" alt="product image">
                        <img class="max-h-16 mx-2 slide-img" src="/images/search.png" alt="product image">
                    </div>
                </div>
            </div>

            <div class="sm:w-3/5 flex items-start flex-col">
                <div class="w-full px-4 mt-6">
                    <h1 class="font-bold text-xl capitalize">
                        <%= product.title %>
                    </h1>
                    <p class=" text-gray-600 text-sm mt-4 capitalize">
                        <%= product.desc %>
                    </p>
                    <span class="font-bold text-orange-500 text-xl my-4 block">&#8377;<%= product.price %></span>
                </div>

                <div class="w-full px-4">
                    <span class="text-gray-600 font-bold text-sm block mb-2 mt-8">Select a Color <span
                            class="text-red-500 font-bold">*</span></span>
                    <div class="flex-center block py-2 w-full">

                        <% product.variants.colors.map((color)=> { %>
                            <input value="<%= color %>" class="w-10 h-10 mr-4 color_badge cursor-pointer" type="radio"
                                name="color" id="<%= color %>">
                            <% }) %>
                    </div>

                    <span class="text-gray-600 font-bold text-sm block mb-2 mt-8">Select a Size<span
                            class="text-red-500 font-bold">*</span></span>
                    <div class="w-full flex py-2">

                        <select name="size" id="size" class="w-40 shadow-xl h-10 bg-orange-50 font-bold">
                            <option value="">select a size</option>
                            <% product.variants.sizes && product.variants.sizes.map((size)=> { %>
                                <option value="<%= size %>">
                                    <%= size %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                </div>
                <div class="flex-center px-2 my-8">
                    <button id="add_to_cart_btn" data-product="<%= product._id %>" data-price="<%= product.price %>"
                        class="flex-1 border-b-solid border-b-4 border-b-orange-600 mr-4 w-64 font-bold bg-orange-400 hover:bg-orange-500 h-12">
                        ADD TO CART
                        <span class="w-16 font-bold text-white text-xl">&#8594;</span>
                    </button>
                </div>
                <div>
                    <div
                        class="w-full border-b-2 border-b-solid border-b-orange-400 cursor-pointer text-gray-600 font-semibold h-10 px-4 mb-6 flex items-center justify-between desc-badge">
                        Material Description
                        <span class="desc_chev">&#8964;</span>
                    </div>
                    <div class="w-full px-8 overflow-hidden desc">
    
                        <p class="mb-2 capitalize">
                            <span class="font-bold text-orange-600">&check; </span>
                            220 GSM Premium tshirt
                        </p>
                        <p class="mb-2 capitalize">
                            <span class="font-bold text-orange-600">&check; </span>
                            Biowashed tshirt
                        </p>
                        <p class="mb-2 capitalize">
                            <span class="font-bold text-orange-600">&check; </span>
                            Premium Design
                        </p>
                    </div>
    
                    <div
                        class="w-full border-b-2 border-b-solid border-b-orange-400 cursor-pointer text-gray-600 font-semibold h-10 px-4 mb-6 flex items-center justify-between care-badge">
                        Care Instructions
                        <span class="care_chev">&#8964;</span>
                    </div>
                    <div class="w-full px-8 overflow-hidden care">
                        <p class="mb-2 capitalize">
                            <span class="font-bold text-orange-600">&check; </span>
                            Iron Only
                        </p>
                        <p class="mb-2 capitalize">
                            <span class="font-bold text-orange-600">&check; </span>
                            Machine Wash
                        </p>
                        <p class="mb-2 capitalize">
                            <span class="font-bold text-orange-600">&check; </span>
                            Don't iron on design
                        </p>
                    </div>
                </div>
            </div>


            <script src="/js/app.js"></script>
</body>

</html>