<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Products - The Basic Co.</title>
</head>

<body>
    <div class="container mx-auto">
        <%- include('../partials/navbar.ejs') %>

            <div class="grid bg-neutral-100 sm:bg-white min-h-screen py-4 sm:grid-cols-5 grid-cols-2 gap-6 px-2">
                
                <% products.length && products.map((product)=> { %>

                    <div class="flex-center h-max flex-col w-full bg-white shadow-xl px-2">
                        <img class="w-full" src="<%= product.images.primary %> " alt="product">
                        <div class="flex-1">
                            <p class="capitalize text-sm mt-2 text-center"><%= product.title %></p>
                            <p class="text-center font-bold">&#8377;<%= product.price %></p>
                            <button
                            onclick="redirect('/product/<%= product._id %>')" 
                            class="bg-orange-400 w-32 block mx-auto font-bold p-2 my-2 text-sm">View Product</button>
                        </div>
                    </div>
                        <% }) %>

            </div>

            <script>
                function redirect(dest) {
                    window.location.href=dest
                }
            </script>
    </div>
</body>

</html>