<html>

<head>
    <title>Categories - Admin The Basic Co</title>
    <%- include('../../partials/head.ejs') %>
</head>

<body>
    <div class="flex">
        <div class="w-2/12 pt-6 h-full border-r-2 border-r-solid border-r-gray-100">
            <div class="w-full h-14 flex-center py-8 border-b-solid border-b-2 border-b-white">
                <img src="/images/logo.jpg" class="h-14 border-b-solid border-b-2 border-b-white">
            </div>
            <div class="w-full px-2">
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full my-4"
                    href="/admin/dashboard">Dashboard</a>
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full my-4"
                    href="/admin/orders/all">Orders</a>
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full my-4"
                    href="/admin/products/create">Create a
                    Product</a>
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full my-4"
                    href="/admin/products/all">All Products</a>
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full my-4" href="/admin/promo">Promo
                    Codes</a>
                <a class="admin_nav_link active flex-center w-full py-2 font-bold rounded-full my-4"
                    href="/admin/categories/all">Categories</a>
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full mt-4"
                    href="/admin/cancellations">Cancellations</a>
            </div>
        </div>
        <div class="flex-1 flex-col flex bg-neutral-50 px-6 mb-4">
            <div>
                <div class="flex items-center justify-between">
                    <h1 class="font-extrabold text-lg text-center my-6 uppercase">Categories</h1>
                    <button onclick="showCategoryForm()"
                        class="bg-teal-500 px-4 py-2 font-bold hover:bg-teal-600 text-white">&plus; Category</button>
                </div>

                <% if(success.length) {%>
                    <div class="w-9/12 mx-auto py-2 bg-green-100 text-green-500 my-4 font-bold flex-center">
                        <%= success %>
                    </div>
                    <% } else if (err.length) {%>
                        <div class="w-9/12 mx-auto py-2 my-4 bg-red-100 text-red-500 font-bold flex-center">
                            <%= err %>
                        </div>
                        <% } %>

                            <div style="z-index: 999; background: rgb(0,0,0,0.5)"
                                class="form_container w-full h-screen fixed hidden inset-0 flex-center">
                                <div class="bg-white rounded-lg w-1/2 p-4 relative">

                                    <span onclick="closeCategoryForm()"
                                        class="text-2xl font-bold cursor-pointer absolute hover:text-red-500 top-2 right-4">&times;</span>

                                    <h1 class="font-extrabold text-center uppercase">Create a Category</h1>
                                    <form action="/admin/categories/create" method="POST" class="mt-4 px-4">
                                        <label for="title">Category <span
                                                class="text-red-500 font-bold">*</span></label>
                                        <input name="title"
                                            class="block mb-4 w-7/12 border-b-solid border-b-2 border-b-amber-500"
                                            type="text" placeholder="Ex. t-shirt, hoodie,...">

                                        <button
                                            class="bg-orange-200 w-40 h-10 block mx-auto my-4 font-bold border-solid border-2 border-orange-500">
                                            CREATE
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <div class="w-11/12 bg-white rounded-lg mx-auto block py-4">
                                <% if (categories.length) { categories.reverse().map((category, index)=> {%>
                                    <div class="flex items-center justify-evenly mb-4">
                                        <span>
                                            <%= index + 1 %>
                                        </span>
                                        <div class="uppercase w-48">
                                            <%= category.title %>
                                        </div>
                                        <input type="hidden" name="_id" id="categoryId" value="<%= category._id %>">
                                    </div>
                                    <% })} %>
                            </div>
            </div>
            <div>
                <div class="flex items-center justify-between">
                    <h1 class="font-extrabold text-lg text-center my-6 uppercase">Sub-Categories</h1>
                    <button onclick="showSubCategoryForm()"
                        class="bg-teal-500 px-4 py-2 font-bold hover:bg-teal-600 text-white">&plus;
                        Sub-Category</button>
                </div>
                <div style="z-index: 999; background: rgb(0,0,0,0.5)"
                    class="subcat_form_container w-full h-screen fixed hidden inset-0 flex-center">
                    <div class="bg-white rounded-lg w-1/2 p-4 relative">

                        <span onclick="closeSubCategoryForm()"
                            class="text-2xl font-bold cursor-pointer absolute hover:text-red-500 top-2 right-4">&times;</span>

                        <h1 class="font-extrabold text-center uppercase">Create a Sub-Category</h1>
                        <form action="/admin/sub-categories/create" method="POST" class="mt-4 px-4">
                            <label for="title">Sub-Category <span class="text-red-500 font-bold">*</span></label>
                            <input name="title" class="block mb-4 w-7/12 border-b-solid border-b-2 border-b-amber-500"
                                type="text" placeholder="Ex. solids, striped,...">

                            <button
                                class="bg-orange-200 w-40 h-10 block mx-auto my-4 font-bold border-solid border-2 border-orange-500">
                                CREATE
                            </button>
                        </form>
                    </div>
                </div>

                <div class="w-11/12 bg-white rounded-lg mx-auto block py-4">
                    <% if (subCategories.length) { subCategories.reverse().map((subCategory, index)=> {%>
                        <div class="flex items-center justify-evenly mb-4">
                            <span>
                                <%= index + 1 %>
                            </span>
                            <div class="uppercase w-48">
                                <%= subCategory.title %>
                            </div>
                            <input type="hidden" name="_id" id="subCategoryId" value="<%= subCategory._id %>">
                        </div>
                        <% })} %>
                </div>
            </div>
        </div>
    </div>
    <script>
        const formContainer = document.querySelector('div.form_container')
        function showCategoryForm() {
            formContainer.classList.remove('hidden')
        }
        function closeCategoryForm() {
            formContainer.classList.add('hidden')
        }

        const subcatFormContainer = document.querySelector('div.subcat_form_container')
        function showSubCategoryForm() {
            subcatFormContainer.classList.remove('hidden')
        }
        function closeSubCategoryForm() {
            subcatFormContainer.classList.add('hidden')
        }

    </script>
</body>

</html>