<html>

<head>
    <title>Orders - Admin The Basic Co</title>
    <%- include('../../partials/head.ejs') %>
</head>

<body>
    <div class="flex">
        <div class="w-2/12 pt-6 h-full border-r-2 border-r-solid border-r-gray-100">
            <div class="w-full h-14 flex-center py-8 border-b-solid border-b-2 border-b-white">
                <img src="/images/logo.jpg" class="h-14 border-b-solid border-b-2 border-b-white">
            </div>
            <div class="w-full px-2">
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full my-4"
                    href="/admin/dashboard">Dashboard</a>
                <a class="admin_nav_link active  flex-center w-full py-2 font-bold rounded-full my-4"
                    href="/admin/orders/all">Orders</a>
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full my-4"
                    href="/admin/products/create">Create a
                    Product</a>
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full my-4"
                    href="/admin/products/all">All Products</a>
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full my-4" href="/admin/promo">Promo
                    Codes</a>
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full my-4"
                    href="/admin/categories/all">Categories</a>
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full mt-4"
                    href="/admin/cancellations">Cancellations</a>
            </div>
        </div>
        <div class="flex-1">
            <h1 class="font-extrabold text-center my-6 text-xl">ORDERS</h1>
            <div class="m-4 bg-neutral-50 p-2">
                <% orders.length && orders.map((order)=> { %>
                    <div class="bg-white mx-2 mt-2 mb-4 p-4 rounded-md">
                        <span class="text-gray-500 font-bold uppercase">
                            <%= order.orderId %>
                        </span>
                        <div class="flex mt-4 items-center">
                            <span class="uppercase mr-6">
                                <%= order.customer.name %>
                            </span>
                            <span class="font-bold mx-6">
                                &#8377;<%= order.totalPrice %>
                            </span>
                            <% if (order.payment.status===true) {%>
                                <div
                                    class="w-24 p-2 mx-6 bg-green-100 font-bold text-green-500 flex-center text-sm rounded-full">
                                    Paid</div>
                                <% } else { %>
                                    <div
                                        class="w-24 p-2 mx-6 bg-red-100 font-bold text-red-500 flex-center text-sm rounded-full">
                                        Unpaid</div>
                                    <% } %>
                                        <input type="hidden" name="orderId" value="<%= order._id %>"
                                            id="order_id_hidden">
                                        <select name="status" data-orderId="<%= order._id %> " id="status"
                                            class="rounded-full p-2 mx-6">
                                            <% const statuses=['placed', 'confirmed' , 'packed' , 'out for delivery'
                                                , 'completed' , 'cancelled' ] %>
                                                <% statuses.map((status)=> { %>
                                                    <%if (order.status===status) { %>
                                                        <option selected class="status_select_option"
                                                            value="<%= status %>">
                                                            <%= status %>
                                                        </option>
                                                        <% } else { %>
                                                            <option class="status_select_option" value="<%= status %>">
                                                                <%= status %>
                                                            </option>
                                                            <% } %>
                                                                <% }) %>
                                        </select>
                                        <span class="mx-6">
                                            <%= moment(order.createdAt).format('DD MMMM YYYY hh a') %>
                                        </span>
                        </div>

                        <% order.products.forEach((product)=> { %>
                            <% if(product._id !=null) {%>
                                <div class="flex items-center mt-10">
                                    <span class="font-bold mr-6 text-gray-500">
                                        <%= product._id %>
                                    </span>
                                    <span class="uppercase mx-6">
                                        <%= product._id.title %>
                                    </span>
                                    <% order.products.length && product.variants.map((variant)=> { %>
                                        <span class="uppercase mx-6">
                                            <%= variant.color %>
                                        </span>
                                        <span class="uppercase mx-6">
                                            <%= variant.size %>
                                        </span>
                                        <span class="uppercase mx-6">
                                            <%= variant.qty %>
                                        </span>
                                        <% }) %>
                                </div>
                                <% }}) %>

                    </div>
                    <% })%>
            </div>
        </div>
    </div>
    <script>

        document.querySelector('select#status').onchange = async function (e) {
            try {
                await axios.post('/admin/status', {
                    _id: document.querySelector('input[type="hidden"]#order_id_hidden').value,
                    status: e.target.value
                }, { withCredentials: true })

                window.location.reload()
            } catch (error) {
                alert(error.response.data.err)
            }

        }
    </script>
</body>

</html>