<html>

<head>
    <title>Promo - Admin The Basic Co</title>
    <%- include('../../partials/head.ejs') %>
</head>

<body>
    <div class="flex">
        <div class="w-2/12 pt-6 h-full border-r-2 border-r-solid border-r-gray-100">
            <div class="w-full h-10 flex-center font-extrabold uppercase py-8 border-b-solid border-b-2 border-b-white">
                The Basic Co
            </div>
            <div class="w-full px-2">
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full my-4"
                    href="/admin/dashboard">Dashboard</a>
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full my-4"
                    href="/admin/orders/all">Orders</a>
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full my-4"
                    href="/admin/products/create">Create a
                    Product</a>
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full my-4" href="#">All Products</a>
                <a class="admin_nav_link active flex-center w-full py-2 font-bold rounded-full my-4"
                    href="/admin/promo">Promo Codes</a>
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full my-4" href="#">Categories</a>
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full my-4"
                    href="#">Sub-Categories</a>
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full my-4" href="#">Users</a>
                <a class="admin_nav_link flex-center w-full py-2 font-bold rounded-full mt-4" href="#">Blogs</a>
            </div>
        </div>
        <div class="flex-1 bg-neutral-50 px-6 mb-4">
            <div class="flex items-center justify-between">
                <h1 class="font-extrabold text-lg text-center my-6 uppercase">promo codes</h1>
                <button onclick="showPromoForm()"
                    class="bg-teal-500 px-4 py-2 font-bold hover:bg-teal-600 text-white">&plus; Promo</button>
            </div>

            <% if(success.length) {%> 
                <div class="w-9/12 mx-auto py-2 bg-green-100 text-green-500 my-4 font-bold flex-center"><%= success %></div>
                <% } else if (err.length) {%> 
                    <div class="w-9/12 mx-auto py-2 my-4 bg-red-100 text-red-500 font-bold flex-center"><%= err %></div>
                    <% } %> 

            <div style="z-index: 999; background: rgb(0,0,0,0.5)"
                class="form_container w-full h-screen fixed hidden inset-0 flex-center">
                <div class="bg-white rounded-lg w-1/2 p-4 relative">

                    <span onclick="closePromoForm()" class="text-2xl font-bold cursor-pointer absolute hover:text-red-500 top-2 right-4">&times;</span>

                    <h1 class="font-extrabold text-center uppercase">Create a promo code</h1>
                    <form action="/admin/promo" method="POST" class="mt-4 px-4">
                        <label for="code">Code <span class="text-red-500 font-bold">*</span></label>
                        <input name="code" class="block mb-4 w-7/12 border-b-solid border-b-2 border-b-amber-500" type="text"
                            placeholder="Ex. FREE150">

                        <label for="type">Type <span class="text-red-500 font-bold">*</span></label>
                        <div class="flex items-center mb-4">
                            <div class="flex mr-6 mt-2">
                                <input class="mr-2 cursor-pointer" type="radio" name="type" id="type"
                                    value="percentage">
                                <label for="type">Percentage</label>
                            </div>
                            <div class="flex mt-2">
                                <input class="mr-2 cursor-pointer" type="radio" name="type" id="type" value="amount">
                                <label for="type">Amount</label>
                            </div>
                        </div>

                        <label for="code">Percentage/Amount <span class="text-red-500 font-bold">*</span></label>
                        <input name="value" class="block mb-4 w-7/12 border-b-solid border-b-2 border-b-amber-500" type="text"
                            placeholder="Ex. 40 (if percentage) or 150 (if rupees)">

                        <label for="code">Minimum Value</label>
                        <input name="minimumAmount" class="block mb-4 w-7/12 border-b-solid border-b-2 border-b-amber-500" type="text"
                            placeholder="Ex. 1000 (in rupees)">

                        <label for="code">Status <span class="text-red-500 font-bold">*</span></label>
                        <select name="status" id="status" class="block w-40 rounded-full bg-orange-50 py-2">
                            <option value="active">Active</option>
                            <option value="draft">Draft</option>
                        </select>
                        <button class="bg-orange-200 w-40 h-10 block mx-auto my-4 font-bold border-solid border-2 border-orange-500">CREATE</button>
                    </form>
                </div>
            </div>

            <div class="w-11/12 bg-white rounded-lg mx-auto block py-4">
                <% if (promos.length) { promos.map((promo, index) => {%> 
                    <div class="flex items-center justify-evenly mb-4">
                        <span><%= index + 1 %></span>
                        <div class="uppercase w-48"><%= promo.code %></div>
                        
                        <% const statuses = {active: 'green', draft: 'yellow', inactive: 'red'} %> 
                        <div class="w-32 flex-center py-2 rounded-full bg-<%= statuses[promo.status] %>-100 text-<%= statuses[promo.status] %>-500 font-bold"><%= promo.status %>
                        </div>
                        <select name="status" id="status" class="px-4 uppercase"> 
                            <% Object.keys(statuses).map((st) => { if(st === promo.status) {%> 
                                <option class="uppercase" selected value="<%= st %>"><%= st %> </option>
                                <% } else {%> 
                                    <option class="uppercase" value="<%= st %>"><%= st %> </option>
                                <% }}) %> 
                        </select>
                        <% if (promo.type === 'percentage') {%> 
                            <span><%= promo.value %>%</span>
                            <% } else { %> 
                                <span>-</span>
                                <% } %> 

                        <% if (promo.type === 'amount') {%> 
                            <span>&#8377;<%= promo.value %></span>
                            <% } else { %> 
                                <span>-</span>
                                <% } %> 
                        <span>&#8377;<% promo.minimumAmount? promo.minimumAmount : 0 %> </span>
                        <button class="text-gray-500 hover:text-yellow-500">edit</button>
                        <button class="text-gray-500 hover:text-red-500">delete</button>
                    </div>
                    <% })} %> 
            </div>
        </div>
    </div>
    <script>
        const formContainer = document.querySelector('div.form_container')
        function showPromoForm() {
            formContainer.classList.remove('hidden')
        }
        function closePromoForm() {
            formContainer.classList.add('hidden')
        }
    </script>
</body>

</html>